name: Build Images

on:
  push:
    branches:
      - develop
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "ghcr.io/amikos-tech/chromadb-chart/chroma"

jobs:
  build-images:
    strategy:
      matrix:
        chroma-version: [ 0.4.3, 0.4.4 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"
      - name: Latest release
        run: |
          echo "Latest release: ${{ steps.releaser.outputs.chart_version }}"
          echo "Changed charts: ${{ steps.releaser.outputs.changed_charts }}"
      - name: Log in to the Container registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push release Docker image
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: image/Dockerfile
          push: true
          build-args: |
            CHROMA_VERSION=${{ matrix.chroma-version }}
          tags: "${{ env.IMAGE_NAME }}:${{ matrix.chroma-version }}-dev"