name: Build Images

on:
  push:
    branches:
      - main
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "ghcr.io/amikos-tech/chromadb-chart/chroma"
  LATEST_VERSION: "0.4.5"

jobs:
  build-images:
    strategy:
      matrix:
        chroma-version: [ 0.4.3, 0.4.4, 0.4.5 ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Log in to the Container registry
        uses: docker/login-action@v2.1.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push release Docker image
        uses: docker/build-push-action@v3.2.0
        if: ${{ env.LATEST_VERSION == matrix.chroma-version }}
        with:
          context: .
          file: image/Dockerfile
          push: true
          build-args: |
            CHROMA_VERSION=${{ matrix.chroma-version }}
          tags: "${{ env.IMAGE_NAME }}:${{ matrix.chroma-version }},${{ env.IMAGE_NAME }}:latest"
      - name: Build and push release Docker image
        if: ${{ env.LATEST_VERSION != matrix.chroma-version }}
        uses: docker/build-push-action@v3.2.0
        with:
          context: .
          file: image/Dockerfile
          push: true
          build-args: |
            CHROMA_VERSION=${{ matrix.chroma-version }}
          tags: "${{ env.IMAGE_NAME }}:${{ matrix.chroma-version }},${{ env.IMAGE_NAME }}:latest"