name: "Pull Request Labeler"
on:
  pull_request:
    branches:
      - main
      - '**'

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/labeler@v4